
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    container_name: jellyfin
    network_mode: host
    user: 1000:1000
    restart: unless-stopped
    env_file:
      - .env

    volumes:
      # Named volumes for persistent configuration and cache data
      - jellyfin-config:/config
      - jellyfin-cache:/cache

      # Bind mounts for media libraries (Source:Target)
      - ${DOWNLOADS_DIR}/shows:/shows
      - ${DOWNLOADS_DIR}/movies:/movies

    # Configuration for GPU passthrough
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - capabilities: [gpu]

  torrent-client:
    build:
      context: .
      dockerfile: Dockerfile-torrent-client
    container_name: transmission
    ports:
      - "9091:9091"
      - "7069:7069"
    volumes:
      - ${DOWNLOADS_DIR}:/downloads
      - ${INCOMPLETE_DIR}:/downloads/incomplete
      - transmission-config:/config
      - shitflix:/shitflix
    env_file:
      - .env
    secrets:
      - filelist-api-key
      - tmdb-api-key
    restart: unless-stopped

volumes:
  transmission-config:
  shitflix:
  jellyfin-config:
  jellyfin-cache:

secrets:
  filelist-api-key:
    file: ./secrets/filelist-api-key.txt
  tmdb-api-key:
    file: ./secrets/tmdb-api-key.txt