
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    container_name: jellyfin
    network_mode: host
    user: 1000:1000
    restart: unless-stopped
    env_file:
      - .env

    cpu_shares: 4096
    blkio_config:
      weight: 900
    volumes:
      # Named volumes for persistent configuration and cache data
      - jellyfin-config:/config
      - jellyfin-cache:/cache

      # Bind mounts for media libraries (Source:Target)
      - ${DOWNLOADS_DIR}/shows:/shows
      - ${DOWNLOADS_DIR}/movies:/movies
      - ${DOWNLOADS_DIR}/flac:/flac
      - /mnt/slow1/movies:/movies_og
      - /mnt/slow1/shows:/shows_og

  torrent-client:
    build:
      context: .
      dockerfile: Dockerfile-torrent-client
    container_name: transmission
    ports:
      - "9091:9091"
      - "7069:7069"
    blkio_config:
      weight: 200
    volumes:
      - ${DOWNLOADS_DIR}:/downloads
      - /mnt/slow1/movies:/movies_og
      - /mnt/slow1/shows:/shows_og
      - transmission-config:/config
      - shitflix:/shitflix
    env_file:
      - .env
    secrets:
      - filelist-api-key
      - tmdb-api-key
    restart: unless-stopped

volumes:
  transmission-config:
  shitflix:
  jellyfin-config:
  jellyfin-cache:

secrets:
  filelist-api-key:
    file: ./secrets/filelist-api-key.txt
  tmdb-api-key:
    file: ./secrets/tmdb-api-key.txt
